extends ../layout
block title
  title Conserved G4 in the 3' UTR

block content
    .container(ng-controller='UTR3DatasetCtrl')
      .page-header
        h1
          | Conserved G4&nbsp;
          small.text-primary in the 3' UTR
      
      .info_table
        p 
          | This dataset contains all QGRS/G4 motifs found in the 3'UTR (or within 200 bases downstream)
          | of human mRNA.  The QGRS are limited to only motifs with 3+ tetrads, and only those that
          | are conserved in the mouse homolog of the human mRNA.
        p
          | Human mRNA without mouse homologs in homologene were not included in this set.  A conservation
          | score of 0.95 was used as the screen for this set.
      .well
        span.pull-right.text-primary &nbsp;
          span(ng-show='search_done'){{listings.length}} results
          span(ng-show='!search_done')
              i.fa.fa-refresh.fa-spin
        p You may refine your search by filtering by tetrads, conservation, and by ontology terms for mRNA.
        form.form-horizntal
          fieldset
            .row
              .col.col-sm-6
                .form-group
                  label.control-label(for='filter.minTetrad') Minimum tetrads in motif
                  input.form-control(type='number', min='3', max='8', step='1', ng-model='filter.minTetrad' ng-change='fetchSet()')
              .col.col-sm-6
                .form-group
                  label.control-label(for='filter.minConservation') Minimum Conservation Score
                  input.form-control(type='number', min='0.95', max='1.00', step='.01', ng-model='filter.minConservation', ng-change='fetchSet()')
            .row
              .col.col-sm-4
                label.contol-label(for='filter.functions') mRNA has following Functions:
                br
                .badge_label_wrap(ng-repeat='v in filter.functions') 
                  | {{v}}
                  button.btn.btn-danger.btn-xs(ng-click='remove_function(v)')
                    i.fa.fa-times
                .alert.alert-info(ng-show="filter.functions.length == 0") None selected
              .col.col-sm-4
                label.contol-label(for='filter.components') mRNA has following Components:
                br
                .badge_label_wrap(ng-repeat='v in filter.components') 
                  | {{v}}
                  button.btn.btn-danger.btn-xs(ng-click='remove_component(v)')
                    i.fa.fa-times
                .alert.alert-info(ng-show="filter.components.length == 0") None selected
              .col.col-sm-4
                label.contol-label(for='filter.processes') mRNA has following Processes:
                br
                .badge_label_wrap(ng-repeat='v in filter.processes') 
                  | {{v}}
                  button.btn.btn-danger.btn-xs(ng-click='remove_process(v)')
                    i.fa.fa-times
                .alert.alert-info(ng-show="filter.processes.length == 0") None selected
            .row
              .col.col-sm-12
                .btn.btn-primary.btn.sm(ng-click="show_ontology_listings = !show_ontology_listings") 
                  span(ng-show='show_ontology_listings') Hide ontology listings
                  span(ng-show='!show_ontology_listings') Show ontology listings
                  
            .row(ng-show='show_ontology_listings')
              .col.col-sm-4
                .form-group
                  label.control-label(for='function_search') Find Functions to add to filter
                  input.form-control(type='search', ng-model='function_search', ng-change='apply_function_filter()')
                div(ng-repeat= 'v in filtered_functions') 
                  span.btn.btn-success.btn-xs.pull-left(style='margin-right:10px', ng-click="add_function(v)") add
                  p {{v}}
              .col.col-sm-4
                .form-group
                  label.control-label(for='component_search') Find Components to add to filter
                  input.form-control(type='search', ng-model='component_search', ng-change='apply_component_filter()')
                div(ng-repeat= 'v in filtered_components') 
                  span.btn.btn-success.btn-xs.pull-left(style='margin-right:10px', ng-click="add_component(v)") add
                  p {{v}}
              .col.col-sm-4
                .form-group
                  label.control-label(for='process_search') Find Processes to add to filter
                  input.form-control(type='search', ng-model='process_search', ng-change='apply_process_filter()')
                div(ng-repeat= 'v in filtered_processes') 
                  span.btn.btn-success.btn-xs.pull-left(style='margin-right:10px', ng-click="add_process(v)") add
                  p {{v}}
                
      div(ng-show='listings.length > 0')
        h1 
          | Search Results   
          small.text-primary &nbsp;({{listings.length}} found)
          button.pull-right.btn.btn-primary() Export to Excel
        table.table.table-striped.table-hover.table-bordered.table-condensed
          thead
            tr
              th accession
              th gene name
              th gene id
              th QGRS id
              th 
                | Position 
                br
                | (nt. from start 
                br
                | of mRNA)
              th 3'UTR
              th 
                | Downstream
                br
                | (genomic)
              th QGRS Sequence
              th Tetrads
              th Conservation
          tbody
            tr(ng-repeat="mrna in listings")
              td
                a(href='/gui/mrna/{{mrna.accession}}'){{mrna.accession}}
              td {{mrna.gene_name}}
              td {{mrna.gene_id}}
              td 
                a(href='/gui/qgrs/{{mrna.g4s.id}}') {{mrna.g4s.id}}
              td {{mrna.g4s.start}} - {{mrna.g4s.start + mrna.g4s.length}}
              td.centered_col
                i.fa.fa-check-circle-o(ng-show='mrna.g4s.is3Prime')
              td.centered_col
                i.fa.fa-check-circle-o(ng-show='mrna.g4s.isDownstream')
              td.g4(ng-bind-html="renderg4(mrna.g4s)") 
              td {{mrna.g4s.tetrads}}
              td {{mrna.g4s.conserved.score.overall | number:2 }}
block scripts
  script(src='/scripts/qgrs.js')
