extends ../layout

block content
  .container(ng-controller='QgrsCtrl')
    .page-header
      h1
        | qgrs 
        small.text-primary motif mapping
      .well
        form.form-horizntal
          fieldset
            .form-group
              label.control-label(for='sequence') Enter nt. sequence
              textarea.nt.form-control#seqa(ng-model='sequence')
            input(type='hidden' value='C++' name='lang')
            .form-group
              button.btn.btn-primary(ng-click='map()') Map

block scripts
  script(src='/scripts/qgrs.js')
