extends ../layout

block content
    h1 Needle Input

    form(name='align', action="/alignment", method="post", enctype="application/x-www-form-urlencoded")
        div
            label(for='seqa') Sequence A (raw)
                textarea(name='seqa', id='seqa')

        div
            label(for='seqb') Sequence B (raw)
                textarea(name='seqb', id='seqb')

        input(type='hidden' name='options[method]', value ='needle')

        div
            button(type='submit') Align