extends ../layout

block content
  .container(ng-controller='NeedleCtrl')
    .page-header
      h1
        | needle 
        small.text-danger could not be executed
      .well
        p needle is not properly configured on this server.
        p Please consult the documentation for proper setup.  Note that needle is only supported on unix-based systems
