extends ../layout

block content
    h1 Alignment facilities not configured
    p Alignment facilities are not properly configured on this server.  Please consult the documentation for proper setup
    p Note, the most common reason for this happening is that the server does not have the alignment (i.e. needle) executable properly installed.