<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Testingggg</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src='chart.js'></script>
		<style type="text/css">
${demo.css}
		</style>
	</head>
	<body>
        <!--<script src="./Highcharts-4.1.9/js/highcharts.js"></script>-->
        <!--<script src="./Highcharts-4.1.9/js/modules/exporting.js"></script>-->
        <form>
            <div>
                <label for="min_gscore">Minimum Gscore:  </label>
                <input type="number" name="min_gscore"/>

                <label for="rnaLoc">mRNA Location (3, 5, 1):  </label>
                <!--<div>
                    <input type="radio" name="rnaLoc" value="5Prime">5'-UTR<br>
                    <input type="radio" name="rnaLoc" value="CDS">CDS<br>
                    <input type="radio" name="rnaLoc" value="3Prime">3'-UTR<br>
                    <input type="radio" name="rnaLoc" value="DownStream">Downstream
                </div> -->
                <input type="number" name="rnaLoc"/>

                <label for="min_ont">Minimum mRNA per Ontology:  </label>
                <input type="number" name="min_ont"/>

                <button type="button">Submit</button>
            </div>
        </form>

        <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

	</body>
</html>