<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Testingggg</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src='chart.js'></script>
        <link href='chart.css' rel='stylesheet' type='text/css'>
		<style type="text/css">
${demo.css}
		</style>
	</head>
	<body>
        <!--<script src="./Highcharts-4.1.9/js/highcharts.js"></script>-->
        <!--<script src="./Highcharts-4.1.9/js/modules/exporting.js"></script>-->
        <form>
            <div>
                <label for="min_gscore">Minimum Gscore:  </label>
                <input type="number" name="min_gscore"/>

                <label for="rnaLoc">mRNA Location:  </label>
                <select name="rnaLoc">
                    <option value="5">5'-UTR</option>
                    <option value="1">CDS</option>
                    <option value="3">3'-UTR</option>
                    <option value="0">Downstream Region</option>
                </select>
                <!--<input type="number" name="rnaLoc"/>-->

                <label for="min_ont">Minimum mRNA per Ontology:  </label>
                <input type="number" name="min_ont"/>

                <button type="button">Submit</button>
            </div>
        </form>

        <div id="loading" style="width:100%;text-align:center;display:none;">
            <img src='https://litpress.org/images/spinner.gif'>
        </div>
        <div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
        <table id="results" style="width:80%;margin-left:10%;"></table>

	</body>
</html>