mixin mrna_search_filter()
  .row
    .col-sm-8
      .form-group
        label.control-label(for='filter.accession') Accession (separate by spaces or semi-colons)
        textarea.form-control(ng-model='filter.accession')
    .col-sm-4
      .form-group
        label.control-label(for='filter.organism') Organism
        select.form-control(ng-model="filter.organism", ng-options="species for species in species")
  .row
    .col-sm-8
      .form-group
        label.control-label(for='filter.gene_name') Gene name (separate by spaces or semi-colons)
        textarea.form-control(ng-model='filter.gene_name')
    .col-sm-4
      .form-group
        label.control-label(for='filter.gene_id') Gene id (separate by spaces or semi-colons)
        textarea.form-control(ng-model='filter.gene_id')
  .row
    .col-sm-8
      .form-group
        label.control-label(for='filter.ontology') Ontology terms (separate by semi-colons)
        textarea.form-control(ng-model='filter.ontology', data-role="tagsinput")
    .col-sm-4
      .checkbox
        label
          input(type="checkbox" ng-model="filter.annotations_only")
          |  show mRNA with annotations only
