extends layout

block content
    .container
      .page-header
        h1
          | biotools 
          small.text-primary welcome
        p This should be a breif introduction, with links to detailed documentation
        p also include a summary of the installation
        p Credits
